input {
  font-size: var(--font-size-md);
  padding: var(--space-sm);
  border: none;
  background-color: var(--bg-secondary);
  border-radius: 25px;
  color: var(--text-primary);
}

button {
  font-size: var(--font-size-md);
  padding: var(--space-sm);
  background-color: var(--bg-button);
  color: var(--text-button);
  border: none;
  border-radius: 25px;
  min-width: 80px;
  cursor: pointer;
  @media (min-width: 768px) {
    min-width: 150px;
  }
}
button:hover {
  background-color: var(--bg-button-hover);
  color: var(--text-button);
}
button:disabled {
  background-color: var(--bg-button-disabled);
  color: var(--text-button-disabled);
  cursor: not-allowed;
}
