h1 {
  font-size: var(--font-size-xxl);
  margin-bottom: 0;
}

h2 {
  font-size: var(--font-size-xl);
  margin-bottom: 0.8rem;
}

p {
  font-size: var(--font-size-md);
  margin-bottom: 1rem;
}

strong {
  font-weight: 700;
  span {
    font-weight: 400;
  }
}
small,
.small {
  font-size: var(--font-size-xs);
}

a {
  color: var(--text-link);
  font-size: var(--font-size-md);
  text-decoration: underline;
  transition: color 0.3s ease;
  font-weight: 600;
  cursor: pointer;
}

a:hover {
  color: var(--text-link-hover);
}
